﻿body {font: normal 10px/1em Helvetica, sans-serif;}
.wrap {width: 900px; margin: 0 auto; max-width: 90%;}
.title {text-align: center; color: #666666; font-size: 2em; line-height: 1.4em; font-weight: bold; margin: 30px 0;}
.subtitle {text-align: center; color: #666666; font-size: 1.6em; line-height: 1.2em;}
.container {overflow: hidden;}
.half {width: 50%; float: left; padding: 0 20px; box-sizing: border-box;}
.field {overflow: hidden; margin-bottom: 20px;}
.form-horizontal {overflow: hidden}
.form-horizontal .field {float: left; margin-right: 10px;}
.form-label {font-size: 1.4em; line-height: 1.2em; margin-bottom: 10px;}
.form-control {width: 100%; box-sizing: border-box; padding: 10px; border: 1px solid #ccc; font-size: 1.4em; color: #666666;}
.form-checkbox {overflow: hidden;}
.checkbox-item,
.form-checkbox li {float: left; margin-right: 15px;}
.checkbox-item label,
.form-checkbox li label {font-size: 1.4em;}
.error-message {font-size: 1.2em; color: red; line-height: 1.4em;}
.flash-message {font-size: 1.4em; margin-bottom: 20px; text-align: center; color: green;}
.btn {height: 50px; padding: 0 30px; border: 1px solid #ccc; border-radius: 7px; font-size: 1.6em; color: #970000; display: block;
      text-decoration: none; font-weight: bold; text-align: center; background-color: #fff; cursor: pointer;
      display: block; margin: 0 auto;
}
.btn-link {text-decoration: none; font-size: 1.4em; color: #970000; margin: 15px 20px; padding: 15px 10px; border: 1px solid #ccc; border-radius: 7px; display: inline-block;}
.half .btn {height: 40px; padding: 0 20px; font-size: 1.4em; margin: 15px 0 0;}
table {font-size: 1.2em;}
table th {text-transform: uppercase}
table th, table td {padding: 5px; text-align: center}
table a {text-decoration: none; color: #970000}